**Assignment 1 Lec 3**

Importing the CDK2(CHEMBL301) data.

In [43]:
import pandas as pd

In [44]:
data=pd.read_csv("CDK2.csv",sep=";")

In [45]:
data

,Molecule ChEMBL ID,Molecule Name,Molecule Max Phase,Molecular Weight,#RO5 Violations,AlogP,Compound Key,Smiles,Standard Type,Standard Relation,...,Target Name,Target Organism,Target Type,Document ChEMBL ID,Source ID,Source Description,Document Journal,Document Year,Cell ChEMBL ID,Properties
0,CHEMBL4303287,NaN,0,566.07,2,6.33,24; THZ2,CN(C)C/C=C/C(=O)Nc1cccc(C(=O)Nc2cccc(Nc3ncc(Cl...,IC50,'=',...,Cyclin-dependent kinase 2,Homo sapiens,SINGLE PROTEIN,CHEMBL4402527,1,Scientific Literature,Eur J Med Chem,2019.0,None,NaN
1,CHEMBL4161364,NaN,0,306.31,0,-0.83,6,N=c1[nH]c(=O)[nH]c2c1cnn2-c1ccc(S(N)(=O)=O)cc1,Inhibition,'=',...,Cyclin-dependent kinase 2,Homo sapiens,SINGLE PROTEIN,CHEMBL4130351,1,Scientific Literature,Eur J Med Chem,2017.0,None,NaN
2,CHEMBL409892,GW305178X,0,367.39,0,1.65,81,NS(=O)(=O)c1ccc(N/N=C2\C(=O)Nc3ccc4ncccc4c32)cc1,IC50,'=',...,Cyclin-dependent kinase 2,Homo sapiens,SINGLE PROTEIN,CHEMBL1134300,1,Scientific Literature,J. Med. Chem.,2001.0,None,NaN
3,CHEMBL278683,NaN,0,210.28,0,3.67,8,CCCc1nccc2c1[nH]c1ccccc12,Inhibition,'=',...,Cyclin-dependent kinase 2,Homo sapiens,SINGLE PROTEIN,CHEMBL1135277,1,Scientific Literature,Bioorg. Med. Chem. Lett.,2002.0,None,NaN
4,CHEMBL14025,NaN,0,274.32,0,4.34,20,COc1ccc(-c2[nH]ccc3c4ccccc4nc2-3)cc1,Inhibition,'=',...,Cyclin-dependent kinase 2,Homo sapiens,SINGLE PROTEIN,CHEMBL1135277,1,Scientific Literature,Bioorg. Med. Chem. Lett.,2002.0,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7102,CHEMBL296586,KENPAULLONE,0,327.18,0,4.09,Kenpaullone,O=C1Cc2c([nH]c3ccc(Br)cc23)-c2ccccc2N1,Ki,'=',...,Cyclin-dependent kinase 2,Homo sapiens,SINGLE PROTEIN,CHEMBL1201862,7,PubChem BioAssays,NaN,NaN,None,NaN
7103,CHEMBL4172459,NaN,0,445.53,0,2.73,34,Cc1[nH]nc(C(=O)Nc2ccc(CN3CCN(C)CC3)cc2)c1Nc1nc...,Activity,'=',...,Cyclin-dependent kinase 2,Homo sapiens,SINGLE PROTEIN,CHEMBL4152300,1,Scientific Literature,Eur J Med Chem,2018.0,None,NaN
7104,CHEMBL553,ERLOTINIB,4,393.44,0,3.41,SID103905339,C#Cc1cccc(Nc2ncnc3cc(OCCOC)c(OCCOC)cc23)c1,Ki,'>',...,Cyclin-dependent kinase 2,Homo sapiens,SINGLE PROTEIN,CHEMBL1201862,7,PubChem BioAssays,NaN,NaN,None,NaN
7105,CHEMBL1336,SORAFENIB,4,464.83,1,5.55,"10, sorafenib",CNC(=O)c1cc(Oc2ccc(NC(=O)Nc3ccc(Cl)c(C(F)(F)F)...,Ki,'>',...,Cyclin-dependent kinase 2,Homo sapiens,SINGLE PROTEIN,CHEMBL1201862,7,PubChem BioAssays,NaN,NaN,None,NaN
7106,CHEMBL523823,NaN,0,280.67,0,1.81,SID103905546,CCn1c2cc(Cl)c(O)cc2c(=O)c2c(=O)o[nH]c21,Ki,'>',...,Cyclin-dependent kinase 2,Homo sapiens,SINGLE PROTEIN,CHEMBL1201862,7,PubChem BioAssays,NaN,NaN,None,NaN

**Separating the data based on the "Standard Type"**

In [46]:
IC50=data[data["Standard Type"].str.contains("IC50")]

In [47]:
Ki=data[data["Standard Type"].str.contains("Ki")]

In [48]:
Kd=data[data["Standard Type"].str.contains("Kd")]

In [49]:
data_combined=pd.concat([IC50,Ki,Kd],axis=0)

**data_combined is the combined data of IC50 , Ki , Kd**

In [50]:
data_combined

,Molecule ChEMBL ID,Molecule Name,Molecule Max Phase,Molecular Weight,#RO5 Violations,AlogP,Compound Key,Smiles,Standard Type,Standard Relation,...,Target Name,Target Organism,Target Type,Document ChEMBL ID,Source ID,Source Description,Document Journal,Document Year,Cell ChEMBL ID,Properties
0,CHEMBL4303287,NaN,0,566.07,2,6.33,24; THZ2,CN(C)C/C=C/C(=O)Nc1cccc(C(=O)Nc2cccc(Nc3ncc(Cl...,IC50,'=',...,Cyclin-dependent kinase 2,Homo sapiens,SINGLE PROTEIN,CHEMBL4402527,1,Scientific Literature,Eur J Med Chem,2019.0,None,NaN
2,CHEMBL409892,GW305178X,0,367.39,0,1.65,81,NS(=O)(=O)c1ccc(N/N=C2\C(=O)Nc3ccc4ncccc4c32)cc1,IC50,'=',...,Cyclin-dependent kinase 2,Homo sapiens,SINGLE PROTEIN,CHEMBL1134300,1,Scientific Literature,J. Med. Chem.,2001.0,None,NaN
5,CHEMBL560839,NaN,0,447.54,0,2.65,31,CNC(=O)c1nn(C)c2c1C(C)(C)Cc1cnc(Nc3cccc(N4CCOC...,IC50,'=',...,Cyclin-dependent kinase 2,Homo sapiens,SINGLE PROTEIN,CHEMBL1151962,1,Scientific Literature,J. Med. Chem.,2009.0,None,NaN
6,CHEMBL3589656,NaN,0,307.26,0,3.48,5d,O=C(O)c1nc2ccccc2c2[nH]c3ccc([N+](=O)[O-])cc3c12,IC50,'>',...,Cyclin-dependent kinase 2,Homo sapiens,SINGLE PROTEIN,CHEMBL3588821,1,Scientific Literature,J. Med. Chem.,2015.0,None,NaN
7,CHEMBL3589660,NaN,0,296.71,0,4.22,5h,O=C(O)c1nc2ccccc2c2[nH]c3c(Cl)cccc3c12,IC50,'>',...,Cyclin-dependent kinase 2,Homo sapiens,SINGLE PROTEIN,CHEMBL3588821,1,Scientific Literature,J. Med. Chem.,2015.0,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7090,CHEMBL3099747,NaN,0,524.45,1,4.75,23,O=C(N[C@@H](Cc1ccc(O)cc1)C(=O)O)c1cc(C(=O)O)c2...,Kd,'>',...,Cyclin-dependent kinase 2,Homo sapiens,SINGLE PROTEIN,CHEMBL3098110,1,Scientific Literature,Bioorg. Med. Chem. Lett.,2014.0,None,NaN
7091,CHEMBL3099742,NaN,0,553.62,1,2.87,18,COC(=O)[C@H](Cc1ccc(O)cc1)NC(=O)c1cc(C(=O)NS(C...,Kd,'>',...,Cyclin-dependent kinase 2,Homo sapiens,SINGLE PROTEIN,CHEMBL3098110,1,Scientific Literature,Bioorg. Med. Chem. Lett.,2014.0,None,NaN
7092,CHEMBL3099765,NaN,0,524.50,1,4.63,16,COC(=O)[C@H](Cc1ccc(O)cc1)NC(=O)c1cc(CO)c2cc(-...,Kd,'>',...,Cyclin-dependent kinase 2,Homo sapiens,SINGLE PROTEIN,CHEMBL3098110,1,Scientific Literature,Bioorg. Med. Chem. Lett.,2014.0,None,NaN
7093,CHEMBL3099761,NaN,0,538.48,1,4.84,12,COC(=O)[C@H](Cc1ccc(O)cc1)NC(=O)c1cc(C(=O)O)c2...,Kd,'=',...,Cyclin-dependent kinase 2,Homo sapiens,SINGLE PROTEIN,CHEMBL3098110,1,Scientific Literature,Bioorg. Med. Chem. Lett.,2014.0,None,NaN
7100,CHEMBL554,LAPATINIB,4,581.07,2,6.14,3,CS(=O)(=O)CCNCc1ccc(-c2ccc3ncnc(Nc4ccc(OCc5ccc...,Kd,NaN,...,Cyclin-dependent kinase 2,Homo sapiens,SINGLE PROTEIN,CHEMBL1144455,1,Scientific Literature,Nat. Biotechnol.,2005.0,None,NaN

In [51]:
data_combined["Molecule ChEMBL ID"].value_counts()

CHEMBL319467     16
CHEMBL14762      15
CHEMBL428690     14
CHEMBL2103840    10
CHEMBL388978      9
                 ..
CHEMBL3940661     1
CHEMBL3658021     1
CHEMBL3658076     1
CHEMBL3654236     1
CHEMBL4445812     1
Name: Molecule ChEMBL ID, Length: 3622, dtype: int64

**Sorting the Duplicate and Unique data**

In [52]:
Duplicate=data_combined.groupby('Molecule ChEMBL ID').filter(lambda x: len(x)>1)

In [53]:
Duplicate['Molecule ChEMBL ID'].value_counts()

CHEMBL319467     16
CHEMBL14762      15
CHEMBL428690     14
CHEMBL2103840    10
CHEMBL388978      9
                 ..
CHEMBL271777      2
CHEMBL115047      2
CHEMBL271952      2
CHEMBL366230      2
CHEMBL288441      2
Name: Molecule ChEMBL ID, Length: 464, dtype: int64

In [54]:
Unique=data_combined.groupby('Molecule ChEMBL ID').filter(lambda x: len(x)<2)

In [55]:
Unique['Molecule ChEMBL ID'].value_counts()

CHEMBL560839     1
CHEMBL1994040    1
CHEMBL508928     1
CHEMBL1978200    1
CHEMBL1969506    1
                ..
CHEMBL482679     1
CHEMBL260864     1
CHEMBL1964251    1
CHEMBL281957     1
CHEMBL4445812    1
Name: Molecule ChEMBL ID, Length: 3158, dtype: int64

In [56]:
data_combined["Molecular Weight"].value_counts()

354.46    20
402.48    19
488.64    18
474.61    17
401.85    17
          ..
332.43     1
407.45     1
421.86     1
299.28     1
442.33     1
Name: Molecular Weight, Length: 2350, dtype: int64

In [57]:
data_combined.columns

Index(['Molecule ChEMBL ID', 'Molecule Name', 'Molecule Max Phase',
       'Molecular Weight', '#RO5 Violations', 'AlogP', 'Compound Key',
       'Smiles', 'Standard Type', 'Standard Relation', 'Standard Value',
       'Standard Units', 'pChEMBL Value', 'Data Validity Comment', 'Comment',
       'Uo Units', 'Ligand Efficiency BEI', 'Ligand Efficiency LE',
       'Ligand Efficiency LLE', 'Ligand Efficiency SEI', 'Potential Duplicate',
       'Assay ChEMBL ID', 'Assay Description', 'Assay Type', 'BAO Format ID',
       'BAO Label', 'Assay Organism', 'Assay Tissue ChEMBL ID',
       'Assay Tissue Name', 'Assay Cell Type', 'Assay Subcellular Fraction',
       'Assay Parameters', 'Assay Variant Accession', 'Assay Variant Mutation',
       'Target ChEMBL ID', 'Target Name', 'Target Organism', 'Target Type',
       'Document ChEMBL ID', 'Source ID', 'Source Description',
       'Document Journal', 'Document Year', 'Cell ChEMBL ID', 'Properties'],
      dtype='object')

In [120]:
data_new=data_combined[['Standard Type','Molecule ChEMBL ID','Molecular Weight','Smiles','Standard Value']]

In [121]:
data_new

,Standard Type,Molecule ChEMBL ID,Molecular Weight,Smiles,Standard Value
0,IC50,CHEMBL4303287,566.07,CN(C)C/C=C/C(=O)Nc1cccc(C(=O)Nc2cccc(Nc3ncc(Cl...,96.9
2,IC50,CHEMBL409892,367.39,NS(=O)(=O)c1ccc(N/N=C2\C(=O)Nc3ccc4ncccc4c32)cc1,1.6
5,IC50,CHEMBL560839,447.54,CNC(=O)c1nn(C)c2c1C(C)(C)Cc1cnc(Nc3cccc(N4CCOC...,248.0
6,IC50,CHEMBL3589656,307.26,O=C(O)c1nc2ccccc2c2[nH]c3ccc([N+](=O)[O-])cc3c12,10000.0
7,IC50,CHEMBL3589660,296.71,O=C(O)c1nc2ccccc2c2[nH]c3c(Cl)cccc3c12,10000.0
...,...,...,...,...,...
7090,Kd,CHEMBL3099747,524.45,O=C(N[C@@H](Cc1ccc(O)cc1)C(=O)O)c1cc(C(=O)O)c2...,10000.0
7091,Kd,CHEMBL3099742,553.62,COC(=O)[C@H](Cc1ccc(O)cc1)NC(=O)c1cc(C(=O)NS(C...,40000.0
7092,Kd,CHEMBL3099765,524.50,COC(=O)[C@H](Cc1ccc(O)cc1)NC(=O)c1cc(CO)c2cc(-...,40000.0
7093,Kd,CHEMBL3099761,538.48,COC(=O)[C@H](Cc1ccc(O)cc1)NC(=O)c1cc(C(=O)O)c2...,40.0
7100,Kd,CHEMBL554,581.07,CS(=O)(=O)CCNCc1ccc(-c2ccc3ncnc(Nc4ccc(OCc5ccc...,NaN

In [122]:
data_new['Standard Type'].value_counts()

IC50          2746
Ki            1186
Kd             435
Ratio IC50       6
cKi              5
pIC50            1
Kinact           1
Name: Standard Type, dtype: int64

**Since here there are  5 extra Standard Type 
Ratio IC50       6
cKi              5
pIC50            1
Kinact           1**
We would use the the  exact string match

In [115]:
data_new=data_new[data_new["Standard Type"].str.match('IC50|Ki|Kd')]

In [116]:
data_new['Standard Type'].value_counts()

IC50      2746
Ki        1186
Kd         435
Kinact       1
Name: Standard Type, dtype: int64

**Still Since here there are  1 extra Standard Type 
Kinact           1
We would use the the  exact string match**

In [123]:
data_new=data_new[data_new["Standard Type"].str.fullmatch('IC50|Ki|Kd')]

In [124]:
data_new['Standard Type'].value_counts()

IC50    2746
Ki      1186
Kd       435
Name: Standard Type, dtype: int64

In [125]:
data_new.head()

,Standard Type,Molecule ChEMBL ID,Molecular Weight,Smiles,Standard Value
0,IC50,CHEMBL4303287,566.07,CN(C)C/C=C/C(=O)Nc1cccc(C(=O)Nc2cccc(Nc3ncc(Cl...,96.9
2,IC50,CHEMBL409892,367.39,NS(=O)(=O)c1ccc(N/N=C2\C(=O)Nc3ccc4ncccc4c32)cc1,1.6
5,IC50,CHEMBL560839,447.54,CNC(=O)c1nn(C)c2c1C(C)(C)Cc1cnc(Nc3cccc(N4CCOC...,248.0
6,IC50,CHEMBL3589656,307.26,O=C(O)c1nc2ccccc2c2[nH]c3ccc([N+](=O)[O-])cc3c12,10000.0
7,IC50,CHEMBL3589660,296.71,O=C(O)c1nc2ccccc2c2[nH]c3c(Cl)cccc3c12,10000.0

In [126]:
data_new['Molecule ChEMBL ID'].value_counts()

CHEMBL14762      15
CHEMBL428690     14
CHEMBL2103840    10
CHEMBL319467     10
CHEMBL388978      9
                 ..
CHEMBL4749580     1
CHEMBL4763202     1
CHEMBL4752238     1
CHEMBL4643754     1
CHEMBL4445812     1
Name: Molecule ChEMBL ID, Length: 3616, dtype: int64

In [127]:
data_new["Mean_Std_Value"]=data_new[['Molecule ChEMBL ID','Smiles','Standard Value']].groupby(["Molecule ChEMBL ID"])["Standard Value"].transform("mean")

/home/s.alpesh/anaconda3/envs/MLDD/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [128]:
data_new

,Standard Type,Molecule ChEMBL ID,Molecular Weight,Smiles,Standard Value,Mean_Std_Value
0,IC50,CHEMBL4303287,566.07,CN(C)C/C=C/C(=O)Nc1cccc(C(=O)Nc2cccc(Nc3ncc(Cl...,96.9,159.450000
2,IC50,CHEMBL409892,367.39,NS(=O)(=O)c1ccc(N/N=C2\C(=O)Nc3ccc4ncccc4c32)cc1,1.6,1.600000
5,IC50,CHEMBL560839,447.54,CNC(=O)c1nn(C)c2c1C(C)(C)Cc1cnc(Nc3cccc(N4CCOC...,248.0,248.000000
6,IC50,CHEMBL3589656,307.26,O=C(O)c1nc2ccccc2c2[nH]c3ccc([N+](=O)[O-])cc3c12,10000.0,10000.000000
7,IC50,CHEMBL3589660,296.71,O=C(O)c1nc2ccccc2c2[nH]c3c(Cl)cccc3c12,10000.0,10000.000000
...,...,...,...,...,...,...
7090,Kd,CHEMBL3099747,524.45,O=C(N[C@@H](Cc1ccc(O)cc1)C(=O)O)c1cc(C(=O)O)c2...,10000.0,10666.666667
7091,Kd,CHEMBL3099742,553.62,COC(=O)[C@H](Cc1ccc(O)cc1)NC(=O)c1cc(C(=O)NS(C...,40000.0,30000.000000
7092,Kd,CHEMBL3099765,524.50,COC(=O)[C@H](Cc1ccc(O)cc1)NC(=O)c1cc(CO)c2cc(-...,40000.0,30000.000000
7093,Kd,CHEMBL3099761,538.48,COC(=O)[C@H](Cc1ccc(O)cc1)NC(=O)c1cc(C(=O)O)c2...,40.0,2547.500000
7100,Kd,CHEMBL554,581.07,CS(=O)(=O)CCNCc1ccc(-c2ccc3ncnc(Nc4ccc(OCc5ccc...,NaN,13788.656000

In [129]:
data_new['Molecule ChEMBL ID'].value_counts()

CHEMBL14762      15
CHEMBL428690     14
CHEMBL2103840    10
CHEMBL319467     10
CHEMBL388978      9
                 ..
CHEMBL4749580     1
CHEMBL4763202     1
CHEMBL4752238     1
CHEMBL4643754     1
CHEMBL4445812     1
Name: Molecule ChEMBL ID, Length: 3616, dtype: int64

In [132]:
data_new=data_new.sort_values("Mean_Std_Value",ascending=True)

In [133]:
data_new

,Standard Type,Molecule ChEMBL ID,Molecular Weight,Smiles,Standard Value,Mean_Std_Value
812,IC50,CHEMBL476578,437.52,CC(=O)N[C@@H]1CCN(c2ccc(Nc3ncc(F)c(-c4cnc(C)n4...,0.30,0.30
1689,IC50,CHEMBL526110,333.31,O=[N+]([O-])c1cccc(Nc2nccc(-c3cnn4ncccc34)n2)c1,0.30,0.30
3110,IC50,CHEMBL512390,297.39,CC(C)c1cc2c(N/N=C\c3ccncc3)ncnc2s1,0.33,0.33
2570,IC50,CHEMBL317703,359.37,NS(=O)(=O)c1ccc(Nc2cc(-c3ccc([N+](=O)[O-])cc3)...,0.33,0.33
5159,IC50,CHEMBL321517,329.39,Nc1ccc(-c2cc(Nc3ccc(S(N)(=O)=O)cc3)[nH]n2)cc1,0.34,0.34
...,...,...,...,...,...,...
6671,IC50,CHEMBL2158860,489.56,CNC(=O)Nc1ccc(-c2cc(-c3ccnc(Nc4ccc(C)c(S(N)(=O...,NaN,NaN
6944,IC50,CHEMBL2158856,425.52,CN1CCN(c2cc(-c3ccnc(Nc4cccc(S(N)(=O)=O)c4)n3)c...,NaN,NaN
1406,Ki,CHEMBL571031,461.95,Cc1ccccc1Nc1ncc(C)c(-c2c[nH]c(C(=O)N[C@H](CO)c...,NaN,NaN
1951,Ki,CHEMBL569869,431.47,Cc1cnc(Nc2ccccc2)nc1-c1c[nH]c(C(=O)N[C@H](CO)c...,NaN,NaN
4294,Ki,CHEMBL366259,302.34,Cc1ccccc1Nc1nccc(-c2cnn3ncccc23)n1,NaN,NaN

In [134]:
data_new=data_new.dropna(axis=0)

In [135]:
data_new

,Standard Type,Molecule ChEMBL ID,Molecular Weight,Smiles,Standard Value,Mean_Std_Value
812,IC50,CHEMBL476578,437.52,CC(=O)N[C@@H]1CCN(c2ccc(Nc3ncc(F)c(-c4cnc(C)n4...,0.30,0.30
1689,IC50,CHEMBL526110,333.31,O=[N+]([O-])c1cccc(Nc2nccc(-c3cnn4ncccc34)n2)c1,0.30,0.30
3110,IC50,CHEMBL512390,297.39,CC(C)c1cc2c(N/N=C\c3ccncc3)ncnc2s1,0.33,0.33
2570,IC50,CHEMBL317703,359.37,NS(=O)(=O)c1ccc(Nc2cc(-c3ccc([N+](=O)[O-])cc3)...,0.33,0.33
5159,IC50,CHEMBL321517,329.39,Nc1ccc(-c2cc(Nc3ccc(S(N)(=O)=O)cc3)[nH]n2)cc1,0.34,0.34
...,...,...,...,...,...,...
2128,IC50,CHEMBL456797,382.46,COc1ccccc1-c1cccc(C(=O)N2CCc3c([nH]c4ccccc34)C...,1109000.00,1109000.00
700,IC50,CHEMBL551612,308.31,O=C(C(=O)N1CCc2ccccc21)c1c[nH]c2ccc(F)cc12,1160000.00,1160000.00
1591,IC50,CHEMBL549850,316.45,c1ccc2c(c1)ccn2CCCCCCn1ccc2ccccc21,1210000.00,1210000.00
3226,IC50,CHEMBL497454,358.42,O=C(NCCc1c[nH]c2ccccc12)c1ccccc1-c1ccc(F)cc1,1216000.00,1216000.00
539,IC50,CHEMBL557050,264.37,c1ccc2c(c1)CCN2CCN1CCc2ccccc21,1230000.00,1230000.00

In [136]:
data_new=data_new.drop_duplicates('Molecule ChEMBL ID',keep='first')

In [137]:
data_new

,Standard Type,Molecule ChEMBL ID,Molecular Weight,Smiles,Standard Value,Mean_Std_Value
812,IC50,CHEMBL476578,437.52,CC(=O)N[C@@H]1CCN(c2ccc(Nc3ncc(F)c(-c4cnc(C)n4...,0.30,0.30
1689,IC50,CHEMBL526110,333.31,O=[N+]([O-])c1cccc(Nc2nccc(-c3cnn4ncccc34)n2)c1,0.30,0.30
3110,IC50,CHEMBL512390,297.39,CC(C)c1cc2c(N/N=C\c3ccncc3)ncnc2s1,0.33,0.33
2570,IC50,CHEMBL317703,359.37,NS(=O)(=O)c1ccc(Nc2cc(-c3ccc([N+](=O)[O-])cc3)...,0.33,0.33
5159,IC50,CHEMBL321517,329.39,Nc1ccc(-c2cc(Nc3ccc(S(N)(=O)=O)cc3)[nH]n2)cc1,0.34,0.34
...,...,...,...,...,...,...
2128,IC50,CHEMBL456797,382.46,COc1ccccc1-c1cccc(C(=O)N2CCc3c([nH]c4ccccc34)C...,1109000.00,1109000.00
700,IC50,CHEMBL551612,308.31,O=C(C(=O)N1CCc2ccccc21)c1c[nH]c2ccc(F)cc12,1160000.00,1160000.00
1591,IC50,CHEMBL549850,316.45,c1ccc2c(c1)ccn2CCCCCCn1ccc2ccccc21,1210000.00,1210000.00
3226,IC50,CHEMBL497454,358.42,O=C(NCCc1c[nH]c2ccccc12)c1ccccc1-c1ccc(F)cc1,1216000.00,1216000.00
539,IC50,CHEMBL557050,264.37,c1ccc2c(c1)CCN2CCN1CCc2ccccc21,1230000.00,1230000.00

In [138]:
data_new['Molecule ChEMBL ID'].value_counts()

CHEMBL476578     1
CHEMBL1973483    1
CHEMBL377408     1
CHEMBL2006631    1
CHEMBL1973098    1
                ..
CHEMBL3934257    1
CHEMBL1630117    1
CHEMBL578201     1
CHEMBL2158861    1
CHEMBL557050     1
Name: Molecule ChEMBL ID, Length: 3576, dtype: int64

In [139]:
data_new['Molecular Weight'].value_counts()

370.43    13
474.61    10
398.90     9
458.38     8
492.63     8
          ..
347.17     1
459.58     1
286.38     1
360.30     1
264.37     1
Name: Molecular Weight, Length: 2333, dtype: int64

In [147]:
Active=data_new.loc[data_new['Mean_Std_Value']<=10000]

In [148]:
Active

,Standard Type,Molecule ChEMBL ID,Molecular Weight,Smiles,Standard Value,Mean_Std_Value
812,IC50,CHEMBL476578,437.52,CC(=O)N[C@@H]1CCN(c2ccc(Nc3ncc(F)c(-c4cnc(C)n4...,0.30,0.30
1689,IC50,CHEMBL526110,333.31,O=[N+]([O-])c1cccc(Nc2nccc(-c3cnn4ncccc34)n2)c1,0.30,0.30
3110,IC50,CHEMBL512390,297.39,CC(C)c1cc2c(N/N=C\c3ccncc3)ncnc2s1,0.33,0.33
2570,IC50,CHEMBL317703,359.37,NS(=O)(=O)c1ccc(Nc2cc(-c3ccc([N+](=O)[O-])cc3)...,0.33,0.33
5159,IC50,CHEMBL321517,329.39,Nc1ccc(-c2cc(Nc3ccc(S(N)(=O)=O)cc3)[nH]n2)cc1,0.34,0.34
...,...,...,...,...,...,...
7009,IC50,CHEMBL3589675,402.84,COc1ccc(-c2ccc3nc(C(=O)O)c4c5cccc(Cl)c5[nH]c4c...,10000.00,10000.00
7008,IC50,CHEMBL3589664,310.28,COc1ccc2c(c1)nc(C(=O)O)c1c3cccc(F)c3[nH]c21,10000.00,10000.00
2182,IC50,CHEMBL323417,257.29,COc1ccccc1C(=O)Nc1cc(C2CC2)[nH]n1,10000.00,10000.00
3113,IC50,CHEMBL3589666,371.19,COc1ccc2c(c1)nc(C(=O)O)c1c3cccc(Br)c3[nH]c21,10000.00,10000.00
1389,Ki,CHEMBL296666,327.41,CCNc1nc(C)c(-c2ccnc(Nc3cccc(O)c3)n2)s1,10000.00,10000.00

In [149]:
Inactive=data_new.loc[data_new['Mean_Std_Value']>=20000]

In [150]:
Inactive

,Standard Type,Molecule ChEMBL ID,Molecular Weight,Smiles,Standard Value,Mean_Std_Value
739,IC50,CHEMBL602280,311.25,O=C(O)c1cc2c(c3c1c([N+](=O)[O-])cc1ccccc13)OCO2,20000.0,20000.0
1975,Ki,CHEMBL43828,234.33,Cc1nc(C)c(-c2ccnc(N(C)C)n2)s1,20000.0,20000.0
5313,IC50,CHEMBL183742,335.32,COc1ccc(-c2cc3c(NC(=O)c4ccco4)ncnc3o2)cc1,20000.0,20000.0
5269,IC50,CHEMBL360340,351.41,COc1ccc(-c2cc3c(NC(=O)C4CCCCC4)ncnc3o2)cc1,20000.0,20000.0
5600,Kd,CHEMBL1236107,359.42,Cn1cc(-c2ccc3nnc(Sc4ccc5ncccc5c4)n3n2)cn1,30000.0,20000.0
...,...,...,...,...,...,...
2128,IC50,CHEMBL456797,382.46,COc1ccccc1-c1cccc(C(=O)N2CCc3c([nH]c4ccccc34)C...,1109000.0,1109000.0
700,IC50,CHEMBL551612,308.31,O=C(C(=O)N1CCc2ccccc21)c1c[nH]c2ccc(F)cc12,1160000.0,1160000.0
1591,IC50,CHEMBL549850,316.45,c1ccc2c(c1)ccn2CCCCCCn1ccc2ccccc21,1210000.0,1210000.0
3226,IC50,CHEMBL497454,358.42,O=C(NCCc1c[nH]c2ccccc12)c1ccccc1-c1ccc(F)cc1,1216000.0,1216000.0
539,IC50,CHEMBL557050,264.37,c1ccc2c(c1)CCN2CCN1CCc2ccccc21,1230000.0,1230000.0

In [151]:
Active['Label']=1

/home/s.alpesh/anaconda3/envs/MLDD/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [156]:
Inactive['Label']=0

/home/s.alpesh/anaconda3/envs/MLDD/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [157]:
Active

,Standard Type,Molecule ChEMBL ID,Molecular Weight,Smiles,Standard Value,Mean_Std_Value,Label
812,IC50,CHEMBL476578,437.52,CC(=O)N[C@@H]1CCN(c2ccc(Nc3ncc(F)c(-c4cnc(C)n4...,0.30,0.30,1
1689,IC50,CHEMBL526110,333.31,O=[N+]([O-])c1cccc(Nc2nccc(-c3cnn4ncccc34)n2)c1,0.30,0.30,1
3110,IC50,CHEMBL512390,297.39,CC(C)c1cc2c(N/N=C\c3ccncc3)ncnc2s1,0.33,0.33,1
2570,IC50,CHEMBL317703,359.37,NS(=O)(=O)c1ccc(Nc2cc(-c3ccc([N+](=O)[O-])cc3)...,0.33,0.33,1
5159,IC50,CHEMBL321517,329.39,Nc1ccc(-c2cc(Nc3ccc(S(N)(=O)=O)cc3)[nH]n2)cc1,0.34,0.34,1
...,...,...,...,...,...,...,...
7009,IC50,CHEMBL3589675,402.84,COc1ccc(-c2ccc3nc(C(=O)O)c4c5cccc(Cl)c5[nH]c4c...,10000.00,10000.00,1
7008,IC50,CHEMBL3589664,310.28,COc1ccc2c(c1)nc(C(=O)O)c1c3cccc(F)c3[nH]c21,10000.00,10000.00,1
2182,IC50,CHEMBL323417,257.29,COc1ccccc1C(=O)Nc1cc(C2CC2)[nH]n1,10000.00,10000.00,1
3113,IC50,CHEMBL3589666,371.19,COc1ccc2c(c1)nc(C(=O)O)c1c3cccc(Br)c3[nH]c21,10000.00,10000.00,1
1389,Ki,CHEMBL296666,327.41,CCNc1nc(C)c(-c2ccnc(Nc3cccc(O)c3)n2)s1,10000.00,10000.00,1

In [158]:
Inactive

,Standard Type,Molecule ChEMBL ID,Molecular Weight,Smiles,Standard Value,Mean_Std_Value,Label
739,IC50,CHEMBL602280,311.25,O=C(O)c1cc2c(c3c1c([N+](=O)[O-])cc1ccccc13)OCO2,20000.0,20000.0,0
1975,Ki,CHEMBL43828,234.33,Cc1nc(C)c(-c2ccnc(N(C)C)n2)s1,20000.0,20000.0,0
5313,IC50,CHEMBL183742,335.32,COc1ccc(-c2cc3c(NC(=O)c4ccco4)ncnc3o2)cc1,20000.0,20000.0,0
5269,IC50,CHEMBL360340,351.41,COc1ccc(-c2cc3c(NC(=O)C4CCCCC4)ncnc3o2)cc1,20000.0,20000.0,0
5600,Kd,CHEMBL1236107,359.42,Cn1cc(-c2ccc3nnc(Sc4ccc5ncccc5c4)n3n2)cn1,30000.0,20000.0,0
...,...,...,...,...,...,...,...
2128,IC50,CHEMBL456797,382.46,COc1ccccc1-c1cccc(C(=O)N2CCc3c([nH]c4ccccc34)C...,1109000.0,1109000.0,0
700,IC50,CHEMBL551612,308.31,O=C(C(=O)N1CCc2ccccc21)c1c[nH]c2ccc(F)cc12,1160000.0,1160000.0,0
1591,IC50,CHEMBL549850,316.45,c1ccc2c(c1)ccn2CCCCCCn1ccc2ccccc21,1210000.0,1210000.0,0
3226,IC50,CHEMBL497454,358.42,O=C(NCCc1c[nH]c2ccccc12)c1ccccc1-c1ccc(F)cc1,1216000.0,1216000.0,0
539,IC50,CHEMBL557050,264.37,c1ccc2c(c1)CCN2CCN1CCc2ccccc21,1230000.0,1230000.0,0

In [159]:
Merged=pd.concat([Active,Inactive],axis=0)

In [160]:
Merged

,Standard Type,Molecule ChEMBL ID,Molecular Weight,Smiles,Standard Value,Mean_Std_Value,Label
812,IC50,CHEMBL476578,437.52,CC(=O)N[C@@H]1CCN(c2ccc(Nc3ncc(F)c(-c4cnc(C)n4...,0.30,0.30,1
1689,IC50,CHEMBL526110,333.31,O=[N+]([O-])c1cccc(Nc2nccc(-c3cnn4ncccc34)n2)c1,0.30,0.30,1
3110,IC50,CHEMBL512390,297.39,CC(C)c1cc2c(N/N=C\c3ccncc3)ncnc2s1,0.33,0.33,1
2570,IC50,CHEMBL317703,359.37,NS(=O)(=O)c1ccc(Nc2cc(-c3ccc([N+](=O)[O-])cc3)...,0.33,0.33,1
5159,IC50,CHEMBL321517,329.39,Nc1ccc(-c2cc(Nc3ccc(S(N)(=O)=O)cc3)[nH]n2)cc1,0.34,0.34,1
...,...,...,...,...,...,...,...
2128,IC50,CHEMBL456797,382.46,COc1ccccc1-c1cccc(C(=O)N2CCc3c([nH]c4ccccc34)C...,1109000.00,1109000.00,0
700,IC50,CHEMBL551612,308.31,O=C(C(=O)N1CCc2ccccc21)c1c[nH]c2ccc(F)cc12,1160000.00,1160000.00,0
1591,IC50,CHEMBL549850,316.45,c1ccc2c(c1)ccn2CCCCCCn1ccc2ccccc21,1210000.00,1210000.00,0
3226,IC50,CHEMBL497454,358.42,O=C(NCCc1c[nH]c2ccccc12)c1ccccc1-c1ccc(F)cc1,1216000.00,1216000.00,0
539,IC50,CHEMBL557050,264.37,c1ccc2c(c1)CCN2CCN1CCc2ccccc21,1230000.00,1230000.00,0

In [162]:
Merged['Molecule ChEMBL ID'].value_counts()

CHEMBL476578     1
CHEMBL1987359    1
CHEMBL1990288    1
CHEMBL185569     1
CHEMBL379835     1
                ..
CHEMBL1968850    1
CHEMBL243298     1
CHEMBL1986666    1
CHEMBL1982957    1
CHEMBL557050     1
Name: Molecule ChEMBL ID, Length: 3312, dtype: int64

In [164]:
Merged.columns

Index(['Standard Type', 'Molecule ChEMBL ID', 'Molecular Weight', 'Smiles',
       'Standard Value', 'Mean_Std_Value', 'Label'],
      dtype='object')

**Dropping Few columns for Binary Data Set .**

In [171]:
BDS=Merged[['Molecule ChEMBL ID','Label']]

In [172]:
BDS

     Molecule ChEMBL ID  Label
812        CHEMBL476578      1
1689       CHEMBL526110      1
3110       CHEMBL512390      1
2570       CHEMBL317703      1
5159       CHEMBL321517      1
...                 ...    ...
2128       CHEMBL456797      0
700        CHEMBL551612      0
1591       CHEMBL549850      0
3226       CHEMBL497454      0
539        CHEMBL557050      0

[3312 rows x 2 columns]

**For Regression Data Set we consider the Molecule Weight as the continous Variable**

In [173]:
RDS=Merged[['Molecule ChEMBL ID','Molecular Weight']]

In [174]:
RDS

     Molecule ChEMBL ID Molecular Weight
812        CHEMBL476578           437.52
1689       CHEMBL526110           333.31
3110       CHEMBL512390           297.39
2570       CHEMBL317703           359.37
5159       CHEMBL321517           329.39
...                 ...              ...
2128       CHEMBL456797           382.46
700        CHEMBL551612           308.31
1591       CHEMBL549850           316.45
3226       CHEMBL497454           358.42
539        CHEMBL557050           264.37

[3312 rows x 2 columns]

In [176]:
pip install nbconvert

SyntaxError: invalid syntax (3849853385.py, line 1)

In [ ]:

conda install nbconvert