In [6]:
import numpy as np
import pandas as pd

In [7]:
x=pd.read_csv("protein.csv",sep=";")

In [8]:
x

,Molecule ChEMBL ID,Molecule Name,Molecule Max Phase,Molecular Weight,#RO5 Violations,AlogP,Compound Key,Smiles,Standard Type,Standard Relation,...,Target Name,Target Organism,Target Type,Document ChEMBL ID,Source ID,Source Description,Document Journal,Document Year,Cell ChEMBL ID,Properties
0,CHEMBL221959,TOFACITINIB,4,312.38,0,1.54,CP-690550,C[C@@H]1CCN(C(=O)CC#N)C[C@@H]1N(C)c1ncnc2[nH]c...,Kd,'>',...,Tyrosine-protein kinase CTK,Homo sapiens,SINGLE PROTEIN,CHEMBL1908390,1,Scientific Literature,Nat. Biotechnol.,2011.0,None,NaN
1,CHEMBL1614701,SELUMETINIB,4,457.69,0,3.53,AZD-6244/ARRY-886,Cn1cnc2c(F)c(Nc3ccc(Br)cc3Cl)c(C(=O)NOCCO)cc21,Kd,'>',...,Tyrosine-protein kinase CTK,Homo sapiens,SINGLE PROTEIN,CHEMBL1908390,1,Scientific Literature,Nat. Biotechnol.,2011.0,None,NaN
2,CHEMBL1822054,NaN,0,460.88,0,3.34,10,CC(=O)Nc1cn2nc(-c3cnc(Cl)c(NS(=O)(=O)c4ccc(F)c...,Activity,'=',...,Tyrosine-protein kinase CTK,Homo sapiens,SINGLE PROTEIN,CHEMBL1821651,1,Scientific Literature,J. Med. Chem.,2011.0,None,NaN
3,CHEMBL10,SB-203580,0,377.44,0,4.68,SB-203580,C[S+]([O-])c1ccc(-c2nc(-c3ccc(F)cc3)c(-c3ccncc...,Kd,'>',...,Tyrosine-protein kinase CTK,Homo sapiens,SINGLE PROTEIN,CHEMBL1908390,1,Scientific Literature,Nat. Biotechnol.,2011.0,None,NaN
4,CHEMBL1836927,NaN,0,767.90,2,9.30,6b,CC1(C)[C@@H](O)CC[C@@]2(C)[C@H]1CC[C@]1(C)[C@@...,Inhibition,'=',...,Tyrosine-protein kinase CTK,Homo sapiens,SINGLE PROTEIN,CHEMBL1833790,1,Scientific Literature,J. Med. Chem.,2011.0,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
744,CHEMBL3589752,IPP/CNRS-A017,0,403.40,1,5.45,IPP/CNRS_A017,Cc1c(Oc2c(F)cccc2F)c(OC(C)C)nn1-c1ncc(C2CC2)cc1F,% Control,NaN,...,Tyrosine-protein kinase CTK,Homo sapiens,SINGLE PROTEIN,CHEMBL4507312,54,Donated Chemical Probes - SGC Frankfurt,NaN,2021.0,None,Compound concentration None 1000.0 nM
745,CHEMBL3799512,TP-004,0,363.34,0,2.92,TP-004,Cc1nc(N2CC[C@@H](O)C2)ncc1-c1cc(C(F)(F)F)cc2[n...,% Control,NaN,...,Tyrosine-protein kinase CTK,Homo sapiens,SINGLE PROTEIN,CHEMBL4507303,54,Donated Chemical Probes - SGC Frankfurt,NaN,2021.0,None,Compound concentration None 1000.0 nM
746,CHEMBL4563315,NaN,0,325.85,0,3.97,29,CC(C)Nc1sc(C(=O)c2ccc(Cl)s2)c(N)c1C#N,Activity,'=',...,Tyrosine-protein kinase CTK,Homo sapiens,SINGLE PROTEIN,CHEMBL4330132,1,Scientific Literature,Bioorg Med Chem Lett,2019.0,None,NaN
747,CHEMBL1970104,NaN,0,290.37,0,4.40,SID103904906,CC(C)(C)c1ccc2nc(-c3n[nH]c4ccccc34)[nH]c2c1,Ki,'=',...,Tyrosine-protein kinase CTK,Homo sapiens,SINGLE PROTEIN,CHEMBL1201862,7,PubChem BioAssays,NaN,NaN,None,NaN
748,CHEMBL1421,DASATINIB,4,488.02,0,3.31,Dasatinib,Cc1nc(Nc2ncc(C(=O)Nc3c(C)cccc3Cl)s2)cc(N2CCN(C...,Ki,'>',...,Tyrosine-protein kinase CTK,Homo sapiens,SINGLE PROTEIN,CHEMBL1201862,7,PubChem BioAssays,NaN,NaN,None,NaN

In [9]:
x.shape

(749, 45)

In [10]:
x.columns

Index(['Molecule ChEMBL ID', 'Molecule Name', 'Molecule Max Phase',
       'Molecular Weight', '#RO5 Violations', 'AlogP', 'Compound Key',
       'Smiles', 'Standard Type', 'Standard Relation', 'Standard Value',
       'Standard Units', 'pChEMBL Value', 'Data Validity Comment', 'Comment',
       'Uo Units', 'Ligand Efficiency BEI', 'Ligand Efficiency LE',
       'Ligand Efficiency LLE', 'Ligand Efficiency SEI', 'Potential Duplicate',
       'Assay ChEMBL ID', 'Assay Description', 'Assay Type', 'BAO Format ID',
       'BAO Label', 'Assay Organism', 'Assay Tissue ChEMBL ID',
       'Assay Tissue Name', 'Assay Cell Type', 'Assay Subcellular Fraction',
       'Assay Parameters', 'Assay Variant Accession', 'Assay Variant Mutation',
       'Target ChEMBL ID', 'Target Name', 'Target Organism', 'Target Type',
       'Document ChEMBL ID', 'Source ID', 'Source Description',
       'Document Journal', 'Document Year', 'Cell ChEMBL ID', 'Properties'],
      dtype='object')

In [11]:
columns_name=pd.DataFrame(x.columns,columns=["C_names"])

In [12]:
columns_name

                       C_names
0           Molecule ChEMBL ID
1                Molecule Name
2           Molecule Max Phase
3             Molecular Weight
4              #RO5 Violations
5                        AlogP
6                 Compound Key
7                       Smiles
8                Standard Type
9            Standard Relation
10              Standard Value
11              Standard Units
12               pChEMBL Value
13       Data Validity Comment
14                     Comment
15                    Uo Units
16       Ligand Efficiency BEI
17        Ligand Efficiency LE
18       Ligand Efficiency LLE
19       Ligand Efficiency SEI
20         Potential Duplicate
21             Assay ChEMBL ID
22           Assay Description
23                  Assay Type
24               BAO Format ID
25                   BAO Label
26              Assay Organism
27      Assay Tissue ChEMBL ID
28           Assay Tissue Name
29             Assay Cell Type
30  Assay Subcellular Fraction
31            Assay Parameters
32     Assay Variant Accession
33      Assay Variant Mutation
34            Target ChEMBL ID
35                 Target Name
36             Target Organism
37                 Target Type
38          Document ChEMBL ID
39                   Source ID
40          Source Description
41            Document Journal
42               Document Year
43              Cell ChEMBL ID
44                  Properties

In [13]:
columns_name.to_csv("protein_chembl_columns.csv",index=None)

In [14]:
ls

analyze_AVE_bias.py                    protein_chembl_columns.csv
aspirin1.png                           protein.csv
aspirin.mol                            protein_molecule_name_freq.csv
aspirin.sdf                            remove_AVE_bias.py
erk2.csv                               sample.csv
imatinib.smi                           shared_data_mldd/
Installation_for_Linux_Bash_macOS.pdf  Untitled.ipynb
Installation_for_windows.pdf           v_a.csv
L1.ipynb                               v_b.csv
L2.ipynb                               v_c.csv
name_of_protein                        v_d.csv
Project_EDA.ipynb

In [15]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 749 entries, 0 to 748
Data columns (total 45 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Molecule ChEMBL ID          749 non-null    object
 1   Molecule Name               218 non-null    object
 2   Molecule Max Phase          749 non-null    int64
 3   Molecular Weight            749 non-null    float64
 4   #RO5 Violations             749 non-null    int64
 5   AlogP                       749 non-null    float64
 6   Compound Key                749 non-null    object
 7   Smiles                      749 non-null    object
 8   Standard Type               749 non-null    object
 9   Standard Relation           631 non-null    object
 10  Standard Value              743 non-null    float64
 11  Standard Units              749 non-null    object
 12  pChEMBL Value               61 non-null     float64
 13  Data Validity Comment       3 non-null      object
 14  Comment                     579 non-null    object
 15  Uo Units                    626 non-null    object
 16  Ligand Efficiency BEI       13 non-null     float64
 17  Ligand Efficiency LE        13 non-null     float64
 18  Ligand Efficiency LLE       13 non-null     float64
 19  Ligand Efficiency SEI       13 non-null     float64
 20  Potential Duplicate         749 non-null    bool
 21  Assay ChEMBL ID             749 non-null    object
 22  Assay Description           749 non-null    object
 23  Assay Type                  749 non-null    object
 24  BAO Format ID               749 non-null    object
 25  BAO Label                   749 non-null    object
 26  Assay Organism              749 non-null    object
 27  Assay Tissue ChEMBL ID      749 non-null    object
 28  Assay Tissue Name           749 non-null    object
 29  Assay Cell Type             749 non-null    object
 30  Assay Subcellular Fraction  749 non-null    object
 31  Assay Parameters            110 non-null    object
 32  Assay Variant Accession     0 non-null      float64
 33  Assay Variant Mutation      0 non-null      float64
 34  Target ChEMBL ID            749 non-null    object
 35  Target Name                 749 non-null    object
 36  Target Organism             749 non-null    object
 37  Target Type                 749 non-null    object
 38  Document ChEMBL ID          749 non-null    object
 39  Source ID                   749 non-null    int64
 40  Source Description          749 non-null    object
 41  Document Journal            176 non-null    object
 42  Document Year               288 non-null    float64
 43  Cell ChEMBL ID              749 non-null    object
 44  Properties                  116 non-null    object
dtypes: bool(1), float64(11), int64(3), object(30)
memory usage: 258.3+ KB

In [16]:
x.describe(include=["object"])

,Molecule ChEMBL ID,Molecule Name,Compound Key,Smiles,Standard Type,Standard Relation,Standard Units,Data Validity Comment,Comment,Uo Units,...,Assay Parameters,Target ChEMBL ID,Target Name,Target Organism,Target Type,Document ChEMBL ID,Source Description,Document Journal,Cell ChEMBL ID,Properties
count,749,218,749,749,749,631,749,3,579,626,...,110,749,749,749,749,749,749,176,749,116
unique,713,195,712,713,9,4,2,1,5,2,...,3,1,1,1,1,117,3,13,3,6
top,CHEMBL388978,STAUROSPORINE,24,CN[C@@H]1C[C@H]2O[C@@](C)([C@@H]1OC)n1c3ccccc3...,Ki,'>',nM,Outside typical range,inactive,UO_0000065,...,Amino acid Start/Stop: M43/P508 | Expression s...,CHEMBL4175,Tyrosine-protein kinase CTK,Homo sapiens,SINGLE PROTEIN,CHEMBL1201862,PubChem BioAssays,Nat. Biotechnol.,None,Compound concentration None 1000.0 nM
freq,4,4,5,4,461,486,547,3,413,546,...,108,749,749,749,749,461,461,72,743,91

In [17]:
x['Molecule ChEMBL ID'].value_counts()

CHEMBL388978     4
CHEMBL595143     3
CHEMBL595373     3
CHEMBL604483     3
CHEMBL1970104    2
                ..
CHEMBL1980163    1
CHEMBL1993424    1
CHEMBL1967560    1
CHEMBL1969588    1
CHEMBL4563315    1
Name: Molecule ChEMBL ID, Length: 713, dtype: int64

In [18]:
counts=x['Molecule ChEMBL ID'].value_counts().reset_index()

In [19]:


counts.columns=["Molecule ChEMBL ID","counts"]

In [20]:
counts

    Molecule ChEMBL ID  counts
0         CHEMBL388978       4
1         CHEMBL595143       3
2         CHEMBL595373       3
3         CHEMBL604483       3
4        CHEMBL1970104       2
..                 ...     ...
708      CHEMBL1980163       1
709      CHEMBL1993424       1
710      CHEMBL1967560       1
711      CHEMBL1969588       1
712      CHEMBL4563315       1

[713 rows x 2 columns]

In [21]:
counts=x['Molecular Weight'].value_counts().reset_index()
counts.columns=["Molecular Weight","counts"]
counts

     Molecular Weight  counts
0              359.39       5
1              466.54       4
2              371.44       3
3              398.48       3
4              399.43       3
..                ...     ...
615            291.14       1
616            334.81       1
617            522.65       1
618            379.45       1
619            325.85       1

[620 rows x 2 columns]

In [22]:
counts=x['Molecule Name'].value_counts().reset_index()
counts.columns=["Molecule Name","counts"]
counts

     Molecule Name  counts
0    STAUROSPORINE       4
1        GEFITINIB       2
2     LESTAURTINIB       2
3        SORAFENIB       2
4         IMATINIB       2
..             ...     ...
190    MRL-SYKi-NC       1
191        BI 1230       1
192      TG100-115       1
193      SB-242235       1
194         TP-004       1

[195 rows x 2 columns]

In [23]:
counts.to_csv("protein_molecule_name_freq.csv",index=None)

In [24]:
ls

analyze_AVE_bias.py                    protein_chembl_columns.csv
aspirin1.png                           protein.csv
aspirin.mol                            protein_molecule_name_freq.csv
aspirin.sdf                            remove_AVE_bias.py
erk2.csv                               sample.csv
imatinib.smi                           shared_data_mldd/
Installation_for_Linux_Bash_macOS.pdf  Untitled.ipynb
Installation_for_windows.pdf           v_a.csv
L1.ipynb                               v_b.csv
L2.ipynb                               v_c.csv
name_of_protein                        v_d.csv
Project_EDA.ipynb

In [25]:
pd.set_option("display.precision",4)

In [26]:
x.columns

Index(['Molecule ChEMBL ID', 'Molecule Name', 'Molecule Max Phase',
       'Molecular Weight', '#RO5 Violations', 'AlogP', 'Compound Key',
       'Smiles', 'Standard Type', 'Standard Relation', 'Standard Value',
       'Standard Units', 'pChEMBL Value', 'Data Validity Comment', 'Comment',
       'Uo Units', 'Ligand Efficiency BEI', 'Ligand Efficiency LE',
       'Ligand Efficiency LLE', 'Ligand Efficiency SEI', 'Potential Duplicate',
       'Assay ChEMBL ID', 'Assay Description', 'Assay Type', 'BAO Format ID',
       'BAO Label', 'Assay Organism', 'Assay Tissue ChEMBL ID',
       'Assay Tissue Name', 'Assay Cell Type', 'Assay Subcellular Fraction',
       'Assay Parameters', 'Assay Variant Accession', 'Assay Variant Mutation',
       'Target ChEMBL ID', 'Target Name', 'Target Organism', 'Target Type',
       'Document ChEMBL ID', 'Source ID', 'Source Description',
       'Document Journal', 'Document Year', 'Cell ChEMBL ID', 'Properties'],
      dtype='object')

In [27]:
subdata=x[['Molecule ChEMBL ID','Smiles', 'Standard Type', 'Standard Relation', 'Standard Value','Standard Units']]

In [28]:
subdata

,Molecule ChEMBL ID,Smiles,Standard Type,Standard Relation,Standard Value,Standard Units
0,CHEMBL221959,C[C@@H]1CCN(C(=O)CC#N)C[C@@H]1N(C)c1ncnc2[nH]c...,Kd,'>',10000.00,nM
1,CHEMBL1614701,Cn1cnc2c(F)c(Nc3ccc(Br)cc3Cl)c(C(=O)NOCCO)cc21,Kd,'>',10000.00,nM
2,CHEMBL1822054,CC(=O)Nc1cn2nc(-c3cnc(Cl)c(NS(=O)(=O)c4ccc(F)c...,Activity,'=',82.00,%
3,CHEMBL10,C[S+]([O-])c1ccc(-c2nc(-c3ccc(F)cc3)c(-c3ccncc...,Kd,'>',10000.00,nM
4,CHEMBL1836927,CC1(C)[C@@H](O)CC[C@@]2(C)[C@H]1CC[C@]1(C)[C@@...,Inhibition,'=',50.00,%
...,...,...,...,...,...,...
744,CHEMBL3589752,Cc1c(Oc2c(F)cccc2F)c(OC(C)C)nn1-c1ncc(C2CC2)cc1F,% Control,NaN,100.00,%
745,CHEMBL3799512,Cc1nc(N2CC[C@@H](O)C2)ncc1-c1cc(C(F)(F)F)cc2[n...,% Control,NaN,86.00,%
746,CHEMBL4563315,CC(C)Nc1sc(C(=O)c2ccc(Cl)s2)c(N)c1C#N,Activity,'=',100.00,%
747,CHEMBL1970104,CC(C)(C)c1ccc2nc(-c3n[nH]c4ccccc34)[nH]c2c1,Ki,'=',1258.93,nM
748,CHEMBL1421,Cc1nc(Nc2ncc(C(=O)Nc3c(C)cccc3Cl)s2)cc(N2CCN(C...,Ki,'>',1995.26,nM

In [29]:
subdata.shape

(749, 6)

In [30]:
subdata['Standard Units'].value_counts()

nM    547
%     202
Name: Standard Units, dtype: int64

In [31]:
subdata_1=subdata['Standard Units'].str.contains("nM")

In [32]:
subdata_1

0       True
1       True
2      False
3       True
4      False
       ...
744    False
745    False
746    False
747     True
748     True
Name: Standard Units, Length: 749, dtype: bool

In [33]:
subdata=subdata.dropna(axis=0)

In [34]:
subdata.shape

(631, 6)

In [35]:
subdata_1=subdata[subdata['Standard Units'].str.contains("nM")]

In [36]:
subdata_1

,Molecule ChEMBL ID,Smiles,Standard Type,Standard Relation,Standard Value,Standard Units
0,CHEMBL221959,C[C@@H]1CCN(C(=O)CC#N)C[C@@H]1N(C)c1ncnc2[nH]c...,Kd,'>',10000.00,nM
1,CHEMBL1614701,Cn1cnc2c(F)c(Nc3ccc(Br)cc3Cl)c(C(=O)NOCCO)cc21,Kd,'>',10000.00,nM
3,CHEMBL10,C[S+]([O-])c1ccc(-c2nc(-c3ccc(F)cc3)c(-c3ccncc...,Kd,'>',10000.00,nM
8,CHEMBL608533,CO[C@@H]1[C@H](N(C)C(=O)c2ccccc2)C[C@H]2O[C@]1...,Kd,'>',10000.00,nM
13,CHEMBL1974702,Cc1nc2c(sc3c(Br)ccc(Cl)c32)c(=O)o1,Ki,'>',1995.26,nM
...,...,...,...,...,...,...
739,CHEMBL1986328,CN(C)C(=O)Nc1ccc2nc(-c3ccco3)c(-c3ccco3)nc2c1,Ki,'>',1995.26,nM
740,CHEMBL1982361,O=c1c(NCc2ccccc2F)c(Nc2ccncc2)c1=O,Ki,'>',1995.26,nM
741,CHEMBL2000801,O=C(Nc1ccc(-c2cccc3sncc23)cc1)Nc1ccc(F)c(C(F)(...,Ki,'>',1995.26,nM
747,CHEMBL1970104,CC(C)(C)c1ccc2nc(-c3n[nH]c4ccccc34)[nH]c2c1,Ki,'=',1258.93,nM
748,CHEMBL1421,Cc1nc(Nc2ncc(C(=O)Nc3c(C)cccc3Cl)s2)cc(N2CCN(C...,Ki,'>',1995.26,nM

In [37]:
subdata.sort_values('Standard Value', ascending = True)

,Molecule ChEMBL ID,Smiles,Standard Type,Standard Relation,Standard Value,Standard Units
146,CHEMBL3628627,CS(=O)(=O)c1cccc(Nc2nccc(-c3sc(N4CCOCC4)nc3-c3...,Inhibition,'=',-42.69,%
306,CHEMBL166031,CC(C)(C)c1cc(NC(=O)Nc2ccc(Oc3ccncc3)cc2)no1,Inhibition,'=',-23.30,%
320,CHEMBL3746293,Cc1c(-c2cc(Nc3cc4n(n3)CCN(C)C4)c(=O)[nH]n2)ccc...,Inhibition,'=',-12.90,%
7,CHEMBL379300,Cc1n[nH]c2ccc(-c3cncc(OC[C@@H](N)Cc4c[nH]c5ccc...,Inhibition,'=',-10.00,%
657,CHEMBL4528675,COc1ccc(N2C(=O)COc3ccc(-c4cnc(OC)c(NS(=O)(=O)c...,Inhibition,'=',-7.54,%
...,...,...,...,...,...,...
550,CHEMBL941,Cc1ccc(NC(=O)c2ccc(CN3CCN(C)CC3)cc2)cc1Nc1nccc...,Kd,'>',10000.00,nM
187,CHEMBL428690,CN1CC[C@H](c2c(O)cc(O)c3c(=O)cc(-c4ccccc4Cl)oc...,Kd,'>',10000.00,nM
0,CHEMBL221959,C[C@@H]1CCN(C(=O)CC#N)C[C@@H]1N(C)c1ncnc2[nH]c...,Kd,'>',10000.00,nM
375,CHEMBL4090364,CCN(CC)CCCC(C)Nc1nc(/C=C/c2c(Cl)cc(Cl)cc2Cl)nc...,IC50,'=',14700.00,nM
633,CHEMBL4634634,C[C@@H]1C[C@H]1C(=O)N1CCN(c2cnc(C#N)c(-c3cnn(C...,IC50,'>',100000.00,nM

In [38]:
subdata.sort_values('Standard Value', ascending = True).reset_index()

,index,Molecule ChEMBL ID,Smiles,Standard Type,Standard Relation,Standard Value,Standard Units
0,146,CHEMBL3628627,CS(=O)(=O)c1cccc(Nc2nccc(-c3sc(N4CCOCC4)nc3-c3...,Inhibition,'=',-42.69,%
1,306,CHEMBL166031,CC(C)(C)c1cc(NC(=O)Nc2ccc(Oc3ccncc3)cc2)no1,Inhibition,'=',-23.30,%
2,320,CHEMBL3746293,Cc1c(-c2cc(Nc3cc4n(n3)CCN(C)C4)c(=O)[nH]n2)ccc...,Inhibition,'=',-12.90,%
3,7,CHEMBL379300,Cc1n[nH]c2ccc(-c3cncc(OC[C@@H](N)Cc4c[nH]c5ccc...,Inhibition,'=',-10.00,%
4,657,CHEMBL4528675,COc1ccc(N2C(=O)COc3ccc(-c4cnc(OC)c(NS(=O)(=O)c...,Inhibition,'=',-7.54,%
...,...,...,...,...,...,...,...
626,550,CHEMBL941,Cc1ccc(NC(=O)c2ccc(CN3CCN(C)CC3)cc2)cc1Nc1nccc...,Kd,'>',10000.00,nM
627,187,CHEMBL428690,CN1CC[C@H](c2c(O)cc(O)c3c(=O)cc(-c4ccccc4Cl)oc...,Kd,'>',10000.00,nM
628,0,CHEMBL221959,C[C@@H]1CCN(C(=O)CC#N)C[C@@H]1N(C)c1ncnc2[nH]c...,Kd,'>',10000.00,nM
629,375,CHEMBL4090364,CCN(CC)CCCC(C)Nc1nc(/C=C/c2c(Cl)cc(Cl)cc2Cl)nc...,IC50,'=',14700.00,nM
630,633,CHEMBL4634634,C[C@@H]1C[C@H]1C(=O)N1CCN(c2cnc(C#N)c(-c3cnn(C...,IC50,'>',100000.00,nM

In [39]:
subdata['Standard Type'].value_counts()

Ki                   461
Kd                    79
Inhibition            48
Activity              27
Residual activity      9
IC50                   7
Name: Standard Type, dtype: int64

In [40]:
Ki=subdata[subdata['Standard Type'].str.contains('')]

In [41]:
Ki

,Molecule ChEMBL ID,Smiles,Standard Type,Standard Relation,Standard Value,Standard Units
0,CHEMBL221959,C[C@@H]1CCN(C(=O)CC#N)C[C@@H]1N(C)c1ncnc2[nH]c...,Kd,'>',10000.00,nM
1,CHEMBL1614701,Cn1cnc2c(F)c(Nc3ccc(Br)cc3Cl)c(C(=O)NOCCO)cc21,Kd,'>',10000.00,nM
2,CHEMBL1822054,CC(=O)Nc1cn2nc(-c3cnc(Cl)c(NS(=O)(=O)c4ccc(F)c...,Activity,'=',82.00,%
3,CHEMBL10,C[S+]([O-])c1ccc(-c2nc(-c3ccc(F)cc3)c(-c3ccncc...,Kd,'>',10000.00,nM
4,CHEMBL1836927,CC1(C)[C@@H](O)CC[C@@]2(C)[C@H]1CC[C@]1(C)[C@@...,Inhibition,'=',50.00,%
...,...,...,...,...,...,...
740,CHEMBL1982361,O=c1c(NCc2ccccc2F)c(Nc2ccncc2)c1=O,Ki,'>',1995.26,nM
741,CHEMBL2000801,O=C(Nc1ccc(-c2cccc3sncc23)cc1)Nc1ccc(F)c(C(F)(...,Ki,'>',1995.26,nM
746,CHEMBL4563315,CC(C)Nc1sc(C(=O)c2ccc(Cl)s2)c(N)c1C#N,Activity,'=',100.00,%
747,CHEMBL1970104,CC(C)(C)c1ccc2nc(-c3n[nH]c4ccccc34)[nH]c2c1,Ki,'=',1258.93,nM
748,CHEMBL1421,Cc1nc(Nc2ncc(C(=O)Nc3c(C)cccc3Cl)s2)cc(N2CCN(C...,Ki,'>',1995.26,nM

In [42]:
Ki['Standard Type'].value_counts()

Ki                   461
Kd                    79
Inhibition            48
Activity              27
Residual activity      9
IC50                   7
Name: Standard Type, dtype: int64

In [43]:
newdata=Ki[['Molecule ChEMBL ID','Smiles']]

In [44]:
newdata=Ki[['Molecule ChEMBL ID','Smiles','Standard Value']]

In [45]:
newdata

,Molecule ChEMBL ID,Smiles,Standard Value
0,CHEMBL221959,C[C@@H]1CCN(C(=O)CC#N)C[C@@H]1N(C)c1ncnc2[nH]c...,10000.00
1,CHEMBL1614701,Cn1cnc2c(F)c(Nc3ccc(Br)cc3Cl)c(C(=O)NOCCO)cc21,10000.00
2,CHEMBL1822054,CC(=O)Nc1cn2nc(-c3cnc(Cl)c(NS(=O)(=O)c4ccc(F)c...,82.00
3,CHEMBL10,C[S+]([O-])c1ccc(-c2nc(-c3ccc(F)cc3)c(-c3ccncc...,10000.00
4,CHEMBL1836927,CC1(C)[C@@H](O)CC[C@@]2(C)[C@H]1CC[C@]1(C)[C@@...,50.00
...,...,...,...
740,CHEMBL1982361,O=c1c(NCc2ccccc2F)c(Nc2ccncc2)c1=O,1995.26
741,CHEMBL2000801,O=C(Nc1ccc(-c2cccc3sncc23)cc1)Nc1ccc(F)c(C(F)(...,1995.26
746,CHEMBL4563315,CC(C)Nc1sc(C(=O)c2ccc(Cl)s2)c(N)c1C#N,100.00
747,CHEMBL1970104,CC(C)(C)c1ccc2nc(-c3n[nH]c4ccccc34)[nH]c2c1,1258.93
748,CHEMBL1421,Cc1nc(Nc2ncc(C(=O)Nc3c(C)cccc3Cl)s2)cc(N2CCN(C...,1995.26

**Binary Classification**

In [46]:
newdata['Molecule ChEMBL ID'].value_counts()

CHEMBL388978     4
CHEMBL595143     3
CHEMBL595373     3
CHEMBL604483     3
CHEMBL509032     2
                ..
CHEMBL1980163    1
CHEMBL1993424    1
CHEMBL1967560    1
CHEMBL1969588    1
CHEMBL4563315    1
Name: Molecule ChEMBL ID, Length: 598, dtype: int64

In [47]:
newdata[newdata['Molecule ChEMBL ID'].str.contains('CHEMBL388978')]

,Molecule ChEMBL ID,Smiles,Standard Value
129,CHEMBL388978,CN[C@@H]1C[C@H]2O[C@@](C)([C@@H]1OC)n1c3ccccc3...,392.0
376,CHEMBL388978,CN[C@@H]1C[C@H]2O[C@@](C)([C@@H]1OC)n1c3ccccc3...,260.0
668,CHEMBL388978,CN[C@@H]1C[C@H]2O[C@@](C)([C@@H]1OC)n1c3ccccc3...,492.0
679,CHEMBL388978,CN[C@@H]1C[C@H]2O[C@@](C)([C@@H]1OC)n1c3ccccc3...,65.0

In [48]:
ls

analyze_AVE_bias.py                    protein_chembl_columns.csv
aspirin1.png                           protein.csv
aspirin.mol                            protein_molecule_name_freq.csv
aspirin.sdf                            remove_AVE_bias.py
erk2.csv                               sample.csv
imatinib.smi                           shared_data_mldd/
Installation_for_Linux_Bash_macOS.pdf  Untitled.ipynb
Installation_for_windows.pdf           v_a.csv
L1.ipynb                               v_b.csv
L2.ipynb                               v_c.csv
name_of_protein                        v_d.csv
Project_EDA.ipynb

In [49]:
y=pd.read_csv("erk2.csv",sep=";")

In [50]:
y.columns

Index(['Molecule ChEMBL ID', 'Molecule Name', 'Molecule Max Phase',
       'Molecular Weight', '#RO5 Violations', 'AlogP', 'Compound Key',
       'Smiles', 'Standard Type', 'Standard Relation', 'Standard Value',
       'Standard Units', 'pChEMBL Value', 'Data Validity Comment', 'Comment',
       'Uo Units', 'Ligand Efficiency BEI', 'Ligand Efficiency LE',
       'Ligand Efficiency LLE', 'Ligand Efficiency SEI', 'Potential Duplicate',
       'Assay ChEMBL ID', 'Assay Description', 'Assay Type', 'BAO Format ID',
       'BAO Label', 'Assay Organism', 'Assay Tissue ChEMBL ID',
       'Assay Tissue Name', 'Assay Cell Type', 'Assay Subcellular Fraction',
       'Assay Parameters', 'Assay Variant Accession', 'Assay Variant Mutation',
       'Target ChEMBL ID', 'Target Name', 'Target Organism', 'Target Type',
       'Document ChEMBL ID', 'Source ID', 'Source Description',
       'Document Journal', 'Document Year', 'Cell ChEMBL ID', 'Properties'],
      dtype='object')

In [51]:
y["Molecule ChEMBL ID"].value_counts()

CHEMBL3590107    19
CHEMBL388978     17
CHEMBL3544964    16
CHEMBL3590106    15
CHEMBL4071576    14
                 ..
CHEMBL1436716     1
CHEMBL1311642     1
CHEMBL1509292     1
CHEMBL1548000     1
CHEMBL3658846     1
Name: Molecule ChEMBL ID, Length: 20031, dtype: int64

In [52]:
new_data=y[["Molecule ChEMBL ID",'Standard Value']]

In [53]:
new_data

      Molecule ChEMBL ID  Standard Value
0          CHEMBL1351580       25118.900
1          CHEMBL1493884       39810.700
2          CHEMBL1386667       31622.800
3          CHEMBL1455249       15848.900
4          CHEMBL1451172        7943.300
...                  ...             ...
23225      CHEMBL4520788        4570.000
23226      CHEMBL2180604       30000.000
23227      CHEMBL4561806          89.000
23228      CHEMBL3658647           1.348
23229      CHEMBL3658846         376.200

[23230 rows x 2 columns]

In [54]:
new_data.value_counts()

Molecule ChEMBL ID  Standard Value
CHEMBL3590107       1.0               4
CHEMBL3590106       0.3               3
CHEMBL608533        10000.0           3
CHEMBL124660        10000.0           3
CHEMBL215803        1000.0            3
                                     ..
CHEMBL1471595       22387.2           1
CHEMBL1471589       3162.3            1
CHEMBL1471556       31622.8           1
CHEMBL1471549       158.5             1
CHEMBL998           19952.6           1
Length: 21113, dtype: int64

In [55]:
new_data[new_data["Molecule ChEMBL ID"].str.contains('CHEMBL388978')]

      Molecule ChEMBL ID  Standard Value
339         CHEMBL388978           37.00
1689        CHEMBL388978         7300.00
3006        CHEMBL388978           82.00
3718        CHEMBL388978          100.30
6820        CHEMBL388978         4491.00
6827        CHEMBL388978          370.00
7769        CHEMBL388978          370.00
11784       CHEMBL388978         3948.00
12495       CHEMBL388978          100.31
12956       CHEMBL388978         1380.00
17518       CHEMBL388978         7300.00
17863       CHEMBL388978            2.50
19185       CHEMBL388978        34000.00
21227       CHEMBL388978           65.00
21341       CHEMBL388978            1.00
21376       CHEMBL388978          659.10
21951       CHEMBL388978         8451.00

In [56]:
new_data["New_Standard_Value"]=new_data[['Molecule ChEMBL ID','Standard Value']].groupby(["Molecule ChEMBL ID"])["Standard Value"].transform("mean")

/tmp/ipykernel_865466/1896529415.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data["New_Standard_Value"]=new_data[['Molecule ChEMBL ID','Standard Value']].groupby(["Molecule ChEMBL ID"])["Standard Value"].transform("mean")

In [57]:
new_data.head()

  Molecule ChEMBL ID  Standard Value  New_Standard_Value
0      CHEMBL1351580         25118.9             25118.9
1      CHEMBL1493884         39810.7             39810.7
2      CHEMBL1386667         31622.8             31622.8
3      CHEMBL1455249         15848.9             15848.9
4      CHEMBL1451172          7943.3              7943.3

In [62]:
CHEMBL388978=new_data[new_data["Molecule ChEMBL ID"].str.contains('CHEMBL388978')]

In [64]:
CHEMBL388978

      Molecule ChEMBL ID  Standard Value  New_Standard_Value
339         CHEMBL388978           37.00           4038.6594
1689        CHEMBL388978         7300.00           4038.6594
3006        CHEMBL388978           82.00           4038.6594
3718        CHEMBL388978          100.30           4038.6594
6820        CHEMBL388978         4491.00           4038.6594
6827        CHEMBL388978          370.00           4038.6594
7769        CHEMBL388978          370.00           4038.6594
11784       CHEMBL388978         3948.00           4038.6594
12495       CHEMBL388978          100.31           4038.6594
12956       CHEMBL388978         1380.00           4038.6594
17518       CHEMBL388978         7300.00           4038.6594
17863       CHEMBL388978            2.50           4038.6594
19185       CHEMBL388978        34000.00           4038.6594
21227       CHEMBL388978           65.00           4038.6594
21341       CHEMBL388978            1.00           4038.6594
21376       CHEMBL388978          659.10           4038.6594
21951       CHEMBL388978         8451.00           4038.6594

In [65]:
CHEMBL388978["Standard Value"].mean()

4038.6594117647055

In [72]:
new_data=new_data.sort_values("New_Standard_Value",ascending=True)

In [73]:
new_data=new_data.dropna(axis=0)

In [74]:
new_data

      Molecule ChEMBL ID  Standard Value  New_Standard_Value
19851      CHEMBL2333128     -5.2000e+01         -5.2000e+01
5748       CHEMBL3815046     -3.2000e+01         -3.1000e+01
5771       CHEMBL3815046     -3.0000e+01         -3.1000e+01
11343       CHEMBL456252     -3.0280e+01         -2.8795e+01
6194        CHEMBL456252     -2.7310e+01         -2.8795e+01
...                  ...             ...                 ...
13584      CHEMBL2297163      1.0000e+06          1.0000e+06
14200      CHEMBL4125992      1.0000e+06          1.0000e+06
12442      CHEMBL2297161      1.0000e+06          1.0000e+06
894        CHEMBL2297162      1.0000e+06          1.0000e+06
10678      CHEMBL1350100      5.0119e+06          5.0119e+06

[21365 rows x 3 columns]

In [75]:
new_data['Molecule ChEMBL ID'].value_counts()

CHEMBL3590107    19
CHEMBL388978     17
CHEMBL3544964    16
CHEMBL3590106    15
CHEMBL4071576    14
                 ..
CHEMBL1971141     1
CHEMBL1375418     1
CHEMBL1965131     1
CHEMBL1984044     1
CHEMBL1350100     1
Name: Molecule ChEMBL ID, Length: 19194, dtype: int64

In [84]:
new_data=new_data.drop_duplicates('Molecule ChEMBL ID',keep="first")

In [85]:
new_data

      Molecule ChEMBL ID  Standard Value  New_Standard_Value
19851      CHEMBL2333128     -5.2000e+01         -5.2000e+01
5748       CHEMBL3815046     -3.2000e+01         -3.1000e+01
11343       CHEMBL456252     -3.0280e+01         -2.8795e+01
7391       CHEMBL3814140     -2.1000e+01         -2.6500e+01
12860       CHEMBL405665     -1.4000e+01         -1.8000e+01
...                  ...             ...                 ...
13584      CHEMBL2297163      1.0000e+06          1.0000e+06
14200      CHEMBL4125992      1.0000e+06          1.0000e+06
12442      CHEMBL2297161      1.0000e+06          1.0000e+06
894        CHEMBL2297162      1.0000e+06          1.0000e+06
10678      CHEMBL1350100      5.0119e+06          5.0119e+06

[19194 rows x 3 columns]

In [86]:
new_data['Molecule ChEMBL ID'].value_counts()

CHEMBL2333128    1
CHEMBL1548596    1
CHEMBL1379900    1
CHEMBL1966872    1
CHEMBL1477044    1
                ..
CHEMBL1325810    1
CHEMBL1412005    1
CHEMBL1566610    1
CHEMBL1344662    1
CHEMBL1350100    1
Name: Molecule ChEMBL ID, Length: 19194, dtype: int64

In [87]:
new_data.head()

      Molecule ChEMBL ID  Standard Value  New_Standard_Value
19851      CHEMBL2333128          -52.00             -52.000
5748       CHEMBL3815046          -32.00             -31.000
11343       CHEMBL456252          -30.28             -28.795
7391       CHEMBL3814140          -21.00             -26.500
12860       CHEMBL405665          -14.00             -18.000

In [92]:
active=new_data.loc[new_data['New_Standard_Value']<=10000]

In [93]:
active

      Molecule ChEMBL ID  Standard Value  New_Standard_Value
19851      CHEMBL2333128          -52.00             -52.000
5748       CHEMBL3815046          -32.00             -31.000
11343       CHEMBL456252          -30.28             -28.795
7391       CHEMBL3814140          -21.00             -26.500
12860       CHEMBL405665          -14.00             -18.000
...                  ...             ...                 ...
20792      CHEMBL1416556        10000.00           10000.000
12022       CHEMBL473313        10000.00           10000.000
17222      CHEMBL1595576        10000.00           10000.000
21589      CHEMBL1495827        10000.00           10000.000
12032      CHEMBL1600898        10000.00           10000.000

[8624 rows x 3 columns]

In [96]:
 inactive=new_data.loc[new_data['New_Standard_Value']>20000]

In [97]:
inactive

      Molecule ChEMBL ID  Standard Value  New_Standard_Value
11530        CHEMBL86754         39810.7          2.0052e+04
9926       CHEMBL1398137           354.8          2.0083e+04
12602       CHEMBL290106           385.0          2.0098e+04
16212      CHEMBL1730100          7943.3          2.0114e+04
4062       CHEMBL1474125           501.2          2.0156e+04
...                  ...             ...                 ...
13584      CHEMBL2297163       1000000.0          1.0000e+06
14200      CHEMBL4125992       1000000.0          1.0000e+06
12442      CHEMBL2297161       1000000.0          1.0000e+06
894        CHEMBL2297162       1000000.0          1.0000e+06
10678      CHEMBL1350100       5011872.3          5.0119e+06

[7169 rows x 3 columns]

In [98]:
active['label']=1

/tmp/ipykernel_865466/1148142576.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  active['label']=1

In [99]:
active.head()

      Molecule ChEMBL ID  Standard Value  New_Standard_Value  label
19851      CHEMBL2333128          -52.00             -52.000      1
5748       CHEMBL3815046          -32.00             -31.000      1
11343       CHEMBL456252          -30.28             -28.795      1
7391       CHEMBL3814140          -21.00             -26.500      1
12860       CHEMBL405665          -14.00             -18.000      1

In [100]:
inactive['label']=0

/tmp/ipykernel_865466/1824636394.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inactive['label']=0

In [101]:
inactive

      Molecule ChEMBL ID  Standard Value  New_Standard_Value  label
11530        CHEMBL86754         39810.7          2.0052e+04      0
9926       CHEMBL1398137           354.8          2.0083e+04      0
12602       CHEMBL290106           385.0          2.0098e+04      0
16212      CHEMBL1730100          7943.3          2.0114e+04      0
4062       CHEMBL1474125           501.2          2.0156e+04      0
...                  ...             ...                 ...    ...
13584      CHEMBL2297163       1000000.0          1.0000e+06      0
14200      CHEMBL4125992       1000000.0          1.0000e+06      0
12442      CHEMBL2297161       1000000.0          1.0000e+06      0
894        CHEMBL2297162       1000000.0          1.0000e+06      0
10678      CHEMBL1350100       5011872.3          5.0119e+06      0

[7169 rows x 4 columns]

In [103]:
combined=pd.concat([active,inactive],axis=0)

In [104]:
combined

      Molecule ChEMBL ID  Standard Value  New_Standard_Value  label
19851      CHEMBL2333128     -5.2000e+01         -5.2000e+01      1
5748       CHEMBL3815046     -3.2000e+01         -3.1000e+01      1
11343       CHEMBL456252     -3.0280e+01         -2.8795e+01      1
7391       CHEMBL3814140     -2.1000e+01         -2.6500e+01      1
12860       CHEMBL405665     -1.4000e+01         -1.8000e+01      1
...                  ...             ...                 ...    ...
13584      CHEMBL2297163      1.0000e+06          1.0000e+06      0
14200      CHEMBL4125992      1.0000e+06          1.0000e+06      0
12442      CHEMBL2297161      1.0000e+06          1.0000e+06      0
894        CHEMBL2297162      1.0000e+06          1.0000e+06      0
10678      CHEMBL1350100      5.0119e+06          5.0119e+06      0

[15793 rows x 4 columns]

In [105]:
labelled=combined[["Molecule ChEMBL ID","label"]]

In [106]:
labelled

      Molecule ChEMBL ID  label
19851      CHEMBL2333128      1
5748       CHEMBL3815046      1
11343       CHEMBL456252      1
7391       CHEMBL3814140      1
12860       CHEMBL405665      1
...                  ...    ...
13584      CHEMBL2297163      0
14200      CHEMBL4125992      0
12442      CHEMBL2297161      0
894        CHEMBL2297162      0
10678      CHEMBL1350100      0

[15793 rows x 2 columns]

In [111]:
common = pd.merge(combined,y,on='Molecule ChEMBL ID')

In [112]:
common

,Molecule ChEMBL ID,Standard Value_x,New_Standard_Value,label,Molecule Name,Molecule Max Phase,Molecular Weight,#RO5 Violations,AlogP,Compound Key,...,Target Name,Target Organism,Target Type,Document ChEMBL ID,Source ID,Source Description,Document Journal,Document Year,Cell ChEMBL ID,Properties
0,CHEMBL2333128,-5.2000e+01,-5.2000e+01,1,NaN,0,410.50,0,3.01,13,...,MAP kinase ERK2,Homo sapiens,SINGLE PROTEIN,CHEMBL2331489,1,Scientific Literature,Bioorg. Med. Chem. Lett.,2013.0,None,NaN
1,CHEMBL3815046,-3.2000e+01,-3.1000e+01,1,NaN,0,416.53,0,3.73,42,...,MAP kinase ERK2,Homo sapiens,SINGLE PROTEIN,CHEMBL3813616,1,Scientific Literature,Bioorg. Med. Chem. Lett.,2016.0,None,NaN
2,CHEMBL3815046,-3.2000e+01,-3.1000e+01,1,NaN,0,416.53,0,3.73,42,...,MAP kinase ERK2,Homo sapiens,SINGLE PROTEIN,CHEMBL3813616,1,Scientific Literature,Bioorg. Med. Chem. Lett.,2016.0,None,NaN
3,CHEMBL456252,-3.0280e+01,-2.8795e+01,1,GSK-2110236A,0,520.62,1,3.45,GSK2110236A,...,MAP kinase ERK2,Homo sapiens,SINGLE PROTEIN,CHEMBL1961873,16,GSK Published Kinase Inhibitor Set,NaN,NaN,None,NaN
4,CHEMBL456252,-3.0280e+01,-2.8795e+01,1,GSK-2110236A,0,520.62,1,3.45,GSK2110236A,...,MAP kinase ERK2,Homo sapiens,SINGLE PROTEIN,CHEMBL1961873,16,GSK Published Kinase Inhibitor Set,NaN,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17877,CHEMBL4125992,1.0000e+06,1.0000e+06,0,NaN,0,255.24,0,2.41,PK0-26961,...,MAP kinase ERK2,Homo sapiens,SINGLE PROTEIN,CHEMBL4118109,1,Scientific Literature,Bioorg Med Chem,2018.0,None,NaN
17878,CHEMBL4125992,1.0000e+06,1.0000e+06,0,NaN,0,255.24,0,2.41,PK0-26961,...,MAP kinase ERK2,Homo sapiens,SINGLE PROTEIN,CHEMBL4118109,1,Scientific Literature,Bioorg Med Chem,2018.0,None,NaN
17879,CHEMBL2297161,1.0000e+06,1.0000e+06,0,NaN,0,333.40,0,2.47,"17, ZINC67674809",...,MAP kinase ERK2,Homo sapiens,SINGLE PROTEIN,CHEMBL3046328,1,Scientific Literature,Med Chem Res,2013.0,None,NaN
17880,CHEMBL2297162,1.0000e+06,1.0000e+06,0,NaN,0,333.40,0,2.47,"18, ZINC67674810",...,MAP kinase ERK2,Homo sapiens,SINGLE PROTEIN,CHEMBL3046328,1,Scientific Literature,Med Chem Res,2013.0,None,NaN
17881,CHEMBL1350100,5.0119e+06,5.0119e+06,0,NaN,0,376.50,0,2.32,SID7974024,...,MAP kinase ERK2,Homo sapiens,SINGLE PROTEIN,CHEMBL1201862,7,PubChem BioAssays,NaN,NaN,None,NaN

In [114]:
common['Molecule ChEMBL ID'].value_counts()

CHEMBL3590107    19
CHEMBL388978     17
CHEMBL3544964    16
CHEMBL3590106    15
CHEMBL4071576    14
                 ..
CHEMBL1391643     1
CHEMBL1530382     1
CHEMBL1458928     1
CHEMBL1507243     1
CHEMBL1350100     1
Name: Molecule ChEMBL ID, Length: 15793, dtype: int64

In [117]:
common=common[['Molecule ChEMBL ID','label','Smiles']]

In [118]:
common

,Molecule ChEMBL ID,label,Smiles
0,CHEMBL2333128,1,C[C@@H](Nc1c(C(N)=O)nnc2cc(-c3ccc(S(C)(=O)=O)c...
1,CHEMBL3815046,1,CCCCc1cc(-c2c[nH]c3ncc(-c4cnn(C5CCNCC5)c4)cc23...
2,CHEMBL3815046,1,CCCCc1cc(-c2c[nH]c3ncc(-c4cnn(C5CCNCC5)c4)cc23...
3,CHEMBL456252,1,COc1cc2c(cc1Nc1nc(Nc3ccsc3C(N)=O)c3cc[nH]c3n1)...
4,CHEMBL456252,1,COc1cc2c(cc1Nc1nc(Nc3ccsc3C(N)=O)c3cc[nH]c3n1)...
...,...,...,...
17877,CHEMBL4125992,0,NCc1cn(Cc2ccccc2C(F)(F)F)cn1
17878,CHEMBL4125992,0,NCc1cn(Cc2ccccc2C(F)(F)F)cn1
17879,CHEMBL2297161,0,Cc1nc[nH]c1[C@@H]1c2nc[nH]c2CCN1Cc1nc2ccccc2[nH]1
17880,CHEMBL2297162,0,Cc1nc[nH]c1[C@H]1c2nc[nH]c2CCN1Cc1nc2ccccc2[nH]1
17881,CHEMBL1350100,0,CCC(=O)Nc1cc(C(=O)NCC2CCCN2CC)c(OC)cc1N(C)C

In [119]:
common=common.drop_duplicates('Molecule ChEMBL ID',keep='first')

In [120]:
common

,Molecule ChEMBL ID,label,Smiles
0,CHEMBL2333128,1,C[C@@H](Nc1c(C(N)=O)nnc2cc(-c3ccc(S(C)(=O)=O)c...
1,CHEMBL3815046,1,CCCCc1cc(-c2c[nH]c3ncc(-c4cnn(C5CCNCC5)c4)cc23...
3,CHEMBL456252,1,COc1cc2c(cc1Nc1nc(Nc3ccsc3C(N)=O)c3cc[nH]c3n1)...
5,CHEMBL3814140,1,CCc1cc(-c2c[nH]c3ncc(-c4cnn(C5CCNCC5)c4)cc23)n...
7,CHEMBL405665,1,Nc1nccc(-c2c[nH]c3ncccc23)n1
...,...,...,...
17876,CHEMBL2297163,0,Cc1cccn2cc(CN(Cc3nc4ccccc4c(=O)[nH]3)C(C)C)nc12
17877,CHEMBL4125992,0,NCc1cn(Cc2ccccc2C(F)(F)F)cn1
17879,CHEMBL2297161,0,Cc1nc[nH]c1[C@@H]1c2nc[nH]c2CCN1Cc1nc2ccccc2[nH]1
17880,CHEMBL2297162,0,Cc1nc[nH]c1[C@H]1c2nc[nH]c2CCN1Cc1nc2ccccc2[nH]1
17881,CHEMBL1350100,0,CCC(=O)Nc1cc(C(=O)NCC2CCCN2CC)c(OC)cc1N(C)C

In [121]:
common

,Molecule ChEMBL ID,label,Smiles
0,CHEMBL2333128,1,C[C@@H](Nc1c(C(N)=O)nnc2cc(-c3ccc(S(C)(=O)=O)c...
1,CHEMBL3815046,1,CCCCc1cc(-c2c[nH]c3ncc(-c4cnn(C5CCNCC5)c4)cc23...
3,CHEMBL456252,1,COc1cc2c(cc1Nc1nc(Nc3ccsc3C(N)=O)c3cc[nH]c3n1)...
5,CHEMBL3814140,1,CCc1cc(-c2c[nH]c3ncc(-c4cnn(C5CCNCC5)c4)cc23)n...
7,CHEMBL405665,1,Nc1nccc(-c2c[nH]c3ncccc23)n1
...,...,...,...
17876,CHEMBL2297163,0,Cc1cccn2cc(CN(Cc3nc4ccccc4c(=O)[nH]3)C(C)C)nc12
17877,CHEMBL4125992,0,NCc1cn(Cc2ccccc2C(F)(F)F)cn1
17879,CHEMBL2297161,0,Cc1nc[nH]c1[C@@H]1c2nc[nH]c2CCN1Cc1nc2ccccc2[nH]1
17880,CHEMBL2297162,0,Cc1nc[nH]c1[C@H]1c2nc[nH]c2CCN1Cc1nc2ccccc2[nH]1
17881,CHEMBL1350100,0,CCC(=O)Nc1cc(C(=O)NCC2CCCN2CC)c(OC)cc1N(C)C

In [122]:
common["Smiles"].value_counts()

C[C@@H](Nc1c(C(N)=O)nnc2cc(-c3ccc(S(C)(=O)=O)cc3)ccc12)C1CC1                                                                                                        1
CN1C/C(=C\c2ccccn2)C(=O)/C(=C/c2ccccn2)C1                                                                                                                           1
CCC(=O)O[C@H]1C(O[C@@H]2C(C)[C@H](O[C@H]3C[C@@](C)(OC)C(O)C(C)O3)C(C)C(=O)OC(CC)[C@@](C)(O)C(O)[C@H](C)C(=O)C(C)C[C@]2(C)O)OC(C)CC1N(C)C.CCCCCCCCCCCCOS(=O)(=O)O    1
Cl.Cl.N=C(NCCCCCCNC(=N)NC(=N)Nc1ccc(Cl)cc1)NC(=N)Nc1ccc(Cl)cc1                                                                                                      1
C#Cc1ncc(OC[C@@H](N)Cc2c[nH]c3ccccc23)cc1-c1ccc2cnccc2c1                                                                                                            1
                                                                                                                                                                   ..
C/C=C/Cn1c(N2CCCCCC2)nc2c1c(=O)[nH]c(=O)n2C                                                                                                                         1
COc1nc(N(c2ccccc2)c2ccccc2)nc(-n2ccnc2)n1                                                                                                                           1
Cc1ccc2nc(NCCO)nc(-c3ccccc3)c2c1                                                                                                                                    1
COc1cc(C=O)cc(Br)c1OCC(N)=O                                                                                                                                         1
CCC(=O)Nc1cc(C(=O)NCC2CCCN2CC)c(OC)cc1N(C)C                                                                                                                         1
Name: Smiles, Length: 15764, dtype: int64

In [123]:
common=common.drop_duplicates('Smiles',keep='first')

In [124]:
common

,Molecule ChEMBL ID,label,Smiles
0,CHEMBL2333128,1,C[C@@H](Nc1c(C(N)=O)nnc2cc(-c3ccc(S(C)(=O)=O)c...
1,CHEMBL3815046,1,CCCCc1cc(-c2c[nH]c3ncc(-c4cnn(C5CCNCC5)c4)cc23...
3,CHEMBL456252,1,COc1cc2c(cc1Nc1nc(Nc3ccsc3C(N)=O)c3cc[nH]c3n1)...
5,CHEMBL3814140,1,CCc1cc(-c2c[nH]c3ncc(-c4cnn(C5CCNCC5)c4)cc23)n...
7,CHEMBL405665,1,Nc1nccc(-c2c[nH]c3ncccc23)n1
...,...,...,...
17876,CHEMBL2297163,0,Cc1cccn2cc(CN(Cc3nc4ccccc4c(=O)[nH]3)C(C)C)nc12
17877,CHEMBL4125992,0,NCc1cn(Cc2ccccc2C(F)(F)F)cn1
17879,CHEMBL2297161,0,Cc1nc[nH]c1[C@@H]1c2nc[nH]c2CCN1Cc1nc2ccccc2[nH]1
17880,CHEMBL2297162,0,Cc1nc[nH]c1[C@H]1c2nc[nH]c2CCN1Cc1nc2ccccc2[nH]1
17881,CHEMBL1350100,0,CCC(=O)Nc1cc(C(=O)NCC2CCCN2CC)c(OC)cc1N(C)C

In [125]:
common.to_csv("EDA.csv",index=None)